p {
  font-size: 14px;
}

ul li {
  font-size: 14px;
}

ol li {
  font-size: 14px;
}

/*
  Custom styling for the code signatures in the api docs
*/

.signature .code-block {
  border: none;
}

/* Hide the copy-code button */
.signature .code-block [data-floating-buttons="true"] {
  display: none;
}

.signature .code-block [data-component-part="code-block-root"] {
  background: none;
  padding: 0;
}

.dark .card {
  background-color: var(--background-dark) !important;
  border-color: rgb(255 255 255 / 0.1) !important;
}

.dark .card:hover {
  border-color: var(--primary-light) !important;
}